.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}

.back {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.poster {
  border-radius: 20px;
  max-width: 70%;
  place-self: center;
}

.title {
  height: 20%;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overview {
  height: 70%;
  color: gray;
  margin-top: 20px;
  overflow-y: scroll;
}

.full {
  height: 10%;
  color: yellow;
  opacity: 0.5;
  font-size: 16px;
  text-align: right;
}
